body{
	margin: 0;
	font-family: sans-serif;
	background: url("https://i.kinja-img.com/gawker-media/image/upload/s--NF-nUWn2--/c_scale,f_auto,fl_progressive,q_80,w_800/y5hxkss8mg5gncwtjfgf.jpg");
    background-size: cover;
     display: flex;
     align-items: center;
     text-align: center;	
     min-height: 100vh;
}
#bands {
      list-style: inside square;
      font-size: 20px;
      background: white;
      width: 500px;
      margin: auto;
      padding: 0;
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
    }
#bands li {
      border-bottom: 1px solid #efefef;
      padding: 20px;
    }
    .hero{
    	min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    }
    h1 {
    text-shadow: 10px 10px 0 rgba(0,0,0,1);
    font-size: 75px;
    margin : auto;
    padding : 55px;
    color: #8B4513;
  }
